@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.page-content {
    padding: 10px;   /* ← Tạo khoảng cách trong trang */
    max-width: 1900px;    /* ← Không cho nội dung quá rộng */
    margin:auto;       /* ← Căn giữa nội dung */
}

body {
    background: #e5e5e5;
    padding: 40px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
}

/* LEFT TITLE */
.left h1 {
    font-size: 110px;
    font-weight: 300;
    line-height: 1.0;
}

/* RIGHT CHAPTER */
.right {
    text-align: right;
}

.chapter-label {
    font-size: 12px;
    letter-spacing: 2px;
    color: #333;
}

.right h2 {
    font-size: 180px;
    font-weight: 300;
    margin-top: -20px;
}

/* CHAPTER LIST */
.chapters h3 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
}

.chapter-list {
    list-style: none;
    width: 600px;
}

.chapter-list li {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #999;
    font-size: 14px;
}
body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
 display: inline;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    transition: 
        transform 1s cubic-bezier(.25,.8,.25,1),
        opacity 1s ease;
    
    opacity: 0;          /* Mặc định ẩn */
    transform: translateY(100vh); /* Trang sau nằm dưới chờ */
}

/* Trang đầu tiên hiển thị */
.page1 {
    opacity: 1;
    transform: translateY(0);
}

.page1 { background: #f2f2f2; }
.page2 { background: #dedede; }
.page3 { background: #c9c9c9; }
.page4 { background: #b1b1b1; }
